<div class="photo_div">
  <span>Photo in <strong><%= @tag_title %></strong></span>
</div>
<div class="show_photo_all">
  <% @photos.each do |photo| %>
      <div class="show_photo">
        <div class="pic" draggable="true"  ondragstart="dragStar(event)">
          <img src="<%= QiniuConfig.full_url(photo.title) %>" id="<%= photo.id %>" class="img" >
        </div>
        <div class="title">
          <div class="r_title">
            Title:<%= photo.title %>
          </div>
          <div class="r_title">
            Date:<%= photo.created_at.strftime("%Y/%m/%d") %>
          </div>
          <div class="r_title">
            Tag:<span id = "ol<%= photo.id %>" onclick="change_tag(this)" style="display: block"><%= photo.tag_title %></span>
          </div>
        </div>
      </div>
  <% end %>
  <div class="release_fenye">
    <% if @photos.count > 9 %>Page:&nbsp;<% end %>
    <%= paginate @photos,:theme => 'photo_pagination'%>
  </div>
</div>


